<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <application>
    <locations>
      <source>d:\data\dgwdocs</source>
      <destination>d:\data\dgwdocs\test.xlsx</destination>
    </locations>
  </application>
  <mapping>
    <headingstyles>
      <style>Kop1</style>
      <style>Kop2</style>
      <style>Kop3</style>
      <style>Kop3A</style>
      <style>Kop3B</style>
    </headingstyles>
    <sheets>
      <sheet>
        <name>2.3 Installatie</name>
        <elements>
          <captions>
            <caption>
              <row>1</row>
              <col>1</col>
              <text>Bestand</text>
            </caption>
            <caption>
              <row>1</row>
              <col>2</col>
              <text>Installaties</text>
            </caption>
          </captions>
          <filenames>
            <filename>
              <row>2</row>
              <col>1</col>
              <orientation>rows</orientation>
            </filename>
          </filenames>
          <paragraphs>
            <paragraph>
              <heading>Installaties</heading>
              <row>2</row>
              <col>2</col>
              <orientation>rows</orientation>
            </paragraph>
          </paragraphs>
        </elements>
      </sheet>
      <sheet>
        <name>2.4 Onderhoud</name>
        <elements>
          <captions>
            <caption>
              <row>1</row>
              <col>1</col>
              <text>Bestand</text>
            </caption>
            <caption>
              <row>1</row>
              <col>2</col>
              <text>Onderhoud</text>
            </caption>
          </captions>
          <filenames>
            <filename>
              <row>2</row>
              <col>1</col>
              <orientation>rows</orientation>
            </filename>
          </filenames>
          <paragraphs>
            <paragraph>
              <heading>Onderhoud</heading>
              <row>2</row>
              <col>2</col>
              <orientation>rows</orientation>
            </paragraph>
          </paragraphs>
        </elements>
      </sheet>
    </sheets>
  </mapping>
</settings>
